
div {
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    height: 200px;
    background-color: rgb(29, 29, 31);
    box-sizing: border-box;
}
h1{
    text-align: center;
    text-transform: capitalize;
    color: whitesmoke;
}

h4 {
    text-align: center;
    color: whitesmoke;
    font-weight: lighter;
}
#about {
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 210px;
    padding: 20px;
    width: 75%;
    height: 200px;
    background-color: rgb(229, 238, 239);
    box-sizing: border-box;
}
#about h2 {
    text-align: center;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
}
#about p {
    text-align: center;
    font-size: 22px;
    color:rgba(0, 0, 0, 0.429) ;
    font-weight: lighter;
}